*.pyc
*.pyo
*.pyd
__pycache__/
*.so

venv/
env/
ENV/
.venv/
.ENV/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.egg-info/
.eggs/
*.egg
*.whl
Pipfile
Pipfile.lock

pip-wheel-metadata/
pip-log.txt

*.log
*.sqlite3

build/
dist/
*.bak

media/
staticfiles/

*.env
.env.local
.env.*.local
.env.test

*.pem
*.key
*.crt

*.db
*.mo
*.pot

*/migrations/*
!*/migrations/__init__.py
